<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма регистрации</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/anceta.css') }}">
</head>
<body>
    <div class="container">
        <div><img src="{{ url_for('static', filename='img/icon_random_coffee.png') }}"></div>
        <h1>Анкета</h1>
        <form action="/anceta", method="post">
            <div class="form-group">
                <input type="text" id="last_name" name="last_name" placeholder="Имя" required>
            </div>
            <div class="form-group">
                <input type="text" id="first_name" name="first_name" placeholder="Фамилия" required>
            </div>
            <div class="form-group">
                <input type="text" id="job_title" name="job_title" placeholder="Должность" required>
            </div>
            <div class="form-group">
                <input type="text" id="born_date" name="born_date" placeholder="Дата рождения (например, 21.02.2003)" required>
            </div>
            <input type="hidden" id="form_tg_id" name="form_tg_id">
            <button type="submit">Отправить анкету</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/born_date_validate.js') }}"></script>
</body>
</html>
